body {
    margin: 12px;
    margin-top: 24px;
} 

header {
    background-color: #F1F0ED;
    padding: 12px;
    padding-bottom: 96px;
    border-radius: 14px;
}

.top-bar ul { 
    text-align: center;
    border-bottom: 1px solid #341D22;
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.top-bar li {
    display: flex;
}

.top-bar a {
    color: #341D22;
    text-decoration:none;
    font-size: 16px;
    font-family: 'Courier';
}

.top-bar a:hover {
    font-weight: bold;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    margin-top: 26px;
    margin-bottom: 18px;
    font-family: 'Fraunces';
    font-weight: 600;
    color: #341D22;
}

.content-up {
    margin-bottom: 156px;
}

button {
    border: none;
    background-color: #56704C;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bolder;
    padding: 9px 16px 9px 16px;
    border-radius: 14px;
    cursor: pointer;
}

.content-down {
    display: flex;
    gap: 20px;
    text-align: right;
}

.hi {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: lighter; 
    font-family: 'Fraunces';
    color: #341D22;
}

.img-header {
    width: 229px;
    height: 386px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section {
    padding: 12px;
    margin-top: 42px;
}

.first-section {
    margin-top: 56px;
    margin-bottom: 86px;
}

.section-title {
    font-size: 36px;
    font-weight: bolder;
    color: #8C516D;
    font-family: 'Fraunces';
    margin: 0;
}

h3 {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Open Sans';
    color: #341D22;
}

.see-more-button {
    color: white;
    background-color: #4E383C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    text-align: center;
    line-height: 0;
    font-size: 30px;
}

.section-title-centered {
    font-size: 36px;
    font-weight: bolder;
    color: #8C516D;
    font-family: 'Fraunces';
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 12px;
}

.h2-title {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Open Sans';
    color: #6E5C5B;
    margin-top: auto;
    margin-bottom: auto;
}

.padre {
    display: flex;
    flex-direction: column;
}

.hijo {
    display: flex;
    flex-direction: column;
    padding: 24px;

}

.h3-content {
    margin-bottom: auto;
    color: #6E5C5B;
}

.bg-colored {
    background-color: #8C516D;
    color: white;
    border-radius: 14px;
}

.section-title-centered-white {
    font-size: 36px;
    font-weight: bolder;
    color: #8C516D;
    font-family: 'Fraunces';
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 24px;
    margin-top: 6px;
    color: white;
}

.accordion,
.accordion-last {
    color:white;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans';
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    text-align: left;
    width: 100%;
    background: none;
    transition: all 0.4s ease-out;
    border-radius: 0;
    border-top: 1px solid white;
    padding-left: 0;
    padding-right: 0;
}


.content {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0;
    max-height: 0;
}

.description-content {
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Open Sans';
    font-weight: normal;
}

.accordion:after {
    content: "\002B";
    float: right;
    font-weight: 600;
}

.fun-content {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Open Sans';
}

.photo {
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
}

.photo .layer {
    position: absolute;
    background: rgba(150, 123, 122, 0.7);
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo:hover > .layer {
    opacity: 1;
    visibility: visible;
}

.photo .layer p {
    color: white;
    font-size: 20px;
    font-family: 'Courier';
    font-weight: bold;
    margin: 0;
}

.up-images {
    display: flex;
    gap: 6px;
}

.down-images {
    display: flex;
    gap: 6px;
}

.images {
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.without-padding {
    padding: 0 0 12px 0;
}

.phrase {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
    color: #797676;
    text-align: center;
    margin-top: 54px;
    margin-bottom: 12px;
}

.all-hobbies,
.up-hobbies,
.down-hobbies {
    display: flex;
    gap: 24px;
    flex-direction: column;
    width: 100%;
}

.hobbie {
    display: flex;
    background-color: #EDEBE8;
    padding: 12px;
    gap: 24px;
    border-radius: 14px;
    align-items: center;
    max-height: 120px;
}

.container {
    width: 120px;
    height: 120px;
}

.hobbie-photo {
    width: 120px;
    height: 120px;
    border-radius: 14px;
}

.hobbie-description {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Open Sans';
    display: flex;
}


.contact {
    display: flex;
    justify-content: space-around;
}

.contact-title {
    display: flex;
    font-family: 'Fraunces';
    font-size: 48px;
    font-weight: bolder;
    color: #9EB396;
    margin: 0;
}

.content-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-text {
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Open Sans';
}

.button {
    display: flex;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 16px;
} 

.low-bar ul {
    text-align: right;
    border-bottom: 1px solid #341D22;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.low-bar a {
    color: #341D22;
    text-decoration:none;
    font-size: 16px;
    font-family: 'Courier';
}

.low-bar a:hover {
    font-weight: bold;
    cursor: pointer;
}

@media all and (min-width: 415px) {
    .hi {
        margin-top: -180px;
        margin-bottom: 130px;
    }

    .img-header {
      width: 100%;
      height: 800px;
    }

    .content-up {
        margin-bottom: 0px;
    }

    h1,
    .hi,
    .phrase {
        font-size: 36px;
    }

    button,
    h3,
    .accordion,
    .accordion-last,
    .hobbie-description,
    .top-bar a,
    .low-bar a {
        font-size: 24px;
    }

    .content-down {
        flex-direction: column-reverse;
    }

    .section-title,
    .section-title-centered,
    .section-title-centered-white {
        font-size: 48px;
    }

    .h2-title {
        font-size: 32px;
        text-align: center;
    }

    .h3-content {
        text-align: center;
    }

    .padre {
        display: flex;
        flex-direction: row;
    }

    .description-content,
    .fun-content {
        font-size: 20px;
    }

    .photo{
        width: 100%;
        height: 100%;
    }

    .images {
        flex-direction: row;
    }

    .photo .layer p,
    .contact-text {
        font-size: 32px;
    }

    .all-hobbies {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contact-title {
        font-size: 96px;
    }

    .circle {
        width: 150px;
        height: 150px;
        font-size: 24px;
    }
  }