.content-up {
    margin-bottom: var(--margin-xhuge);

    @include bp($bp-desktop) {
        margin-bottom: var(--margin-none);
    }
}

.content-down {
    display: flex;
    gap: var(--gap-l);
    text-align: right;

    @include bp($bp-desktop) {
        flex-direction: column-reverse;
    }
}

.img-header {
    width: 229px;
    height: 386px;

    @include bp($bp-desktop) {
        width: 100%;
        height: 624px;
    }
}