.topbar__list { 
    text-align: center;
    border-bottom: 1px solid var(--dark-color-text);
    list-style-type: none;
    margin: auto;
    padding: var(--padding-none);
    display: flex;
    justify-content: space-between;
}

.topbar__list__item {
    display: flex;
}

.topbar__link {
    color: var(--dark-color-text);
    text-decoration:none;
    font-size: var(--font-xx-small);
    font-family: var(--third-font);

    @include bp($bp-tablet) {
        font-size: var(--font-x-small);
    }

    @include bp($bp-desktop) {
        font-size: var(--font-small);
    }
}

.topbar__link:hover {
    font-weight: var(--bold-font-weight);
    cursor: pointer;
}